/* RESET */
* {
    box-sizing: border-box;
}

/* BODY */
body {
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;

    /*background: linear-gradient(135deg, #001f5b, #0033a0);*/
    background-image: radial-gradient( circle farthest-corner at 17.6% 50.7%,  rgba(25,0,184,1) 0%, rgba(0,0,0,1) 90% );
    color: white;
}

/* TITULO */
h1 {
    font-size: 40px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    color: #ffcc00;
    text-shadow: 2px 2px 10px rgba(0,0,0,0.7);
    text-align: center;
}

/* SUBTITULOS */
h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* FORMULARIOS (todos iguales pero más facheros) */
#form,
#form-login,
#form-register,
#form-reserva {
    background: #ffcc00;
    border: 2px solid #e6b800;
    padding: 30px;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    box-shadow: 0 15px 30px rgba(0,0,0,0.4);
}

/* INPUTS */
input, select {
    width: 200px;
    padding: 8px;
    border-radius: 6px;
    border: solid 1px blue;
}

/* BOTONES */
button {
    background: #16222A;
    color: #ffcc00;
    border: none;
    padding: 8px 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #001f5b;
    transform: scale(1.05);
}

/* LINK REGISTRO */
#register-link {
    margin-top: 20px;
}

#register-link a {
    text-decoration: none;
    background: transparent;
    color: #ffcc00;
    font-weight: bold;
}

#register-link a:hover {
    text-decoration: underline;
}

/* PANEL */
.panel-container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* RESERVAS (las tarjetas de la derecha) */
.panel-container > div:last-child > div {
    background: rgba(255, 204, 0, 0.1);
    border: 1px solid #ffcc00;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 15px;

    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* BOTON LOGOUT */
#btn-logout {
    background: #ffcc00;
    color: #0033a0;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;

    position: absolute;
    top: 20px;
    right: 20px;

    font-weight: bold;
    cursor: pointer;
}

#btn-logout:hover {
    background: #e6b800;
}